body {
    background: #0f0f0f;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2rem; */
    min-height: 90vh;
    width: 100%;
  }
  header {
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    margin-top: -20px;
    background: radial-gradient(
      circle at top left,
      #23385e,
      transparent 90%
    );
    margin-bottom: 30px;
  }

  header h1 {
    font-size: 3rem;
    background: linear-gradient(90deg, #00f0ff, #7bffce);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  h1 {
    color: #00f0ff;
    margin-bottom: 1rem;
  }

  input {
    width: 85%;
    max-width: 400px;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  button {
    padding: 0.7rem 1.5rem;
    background: linear-gradient(90deg, #00f0ff, #7bffce);
    color: #000;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: transform 0.2s ease;
  }

  button:hover {
    transform: scale(1.05);
  }

  #qrcode {
    display: none;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  footer{
    background-color: #111;
    color: #aaa;
    text-align: center;
    padding: 1rem;
    font-size: 0.95rem;
    margin-top: auto;
    border-top: 1px solid #222;
    width: 100%;
    margin-bottom: -40px;
  }