:root {
  --bg-dark: #121212;
  --text-dark: #e0e0e0;
  --card-dark: #1f1f1f;
  --border-dark: #333;
  --accent: #0ea5e9;

  --bg-light: #f9f9f9;
  --text-light: #1a1a1a;
  --card-light: #ffffff;
  --border-light: #ccc;
}

[data-theme="dark"] {
  --bg: var(--bg-dark);
  --text: var(--text-dark);
  --card: var(--card-dark);
  --border: var(--border-dark);
}

[data-theme="light"] {
  --bg: var(--bg-light);
  --text: var(--text-light);
  --card: var(--card-light);
  --border: var(--border-light);
}

* {
  box-sizing: border-box;
  transition: background 0.3s ease, color 0.3s ease;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    sans-serif;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  padding: 2rem;
}

h1 {
  color: #0ea5e9;
  font-size: xx-large;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
header {
  border: #e0e0e0;
  margin-top: -30px;
  border-bottom:1px solid #0ea5e9;
  border-left: -10px solid #0ea5e9;
  border-right: -10px solid #0ea5e9;
    padding: 0.5rem;
margin-bottom: 25px;
}

.toggle-btn {
  background: transparent;
  border: 1px solid var(--border);
  padding: 0.4rem 0.8rem;
  color: var(--text);
  border-radius: 6px;
  cursor: pointer;
}

.editor-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

textarea,
.preview {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: var(--card);
  color: var(--text);
  font-size: 1rem;
  height: 500px;
  overflow-y: auto;
  resize: none;
}

.preview {
  white-space: pre-wrap;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: var(--accent);
  color: white;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.85rem;
  color: #888;
  border-top: 1px solid var(--border);
  padding-top: 1rem;
}
